.botao-verde {
      background-color: var(--verde);
      padding: 8px 40px;
}

.botao-verde:hover {
      box-shadow: 0 0 8px var(--verde);
      background-color: var(--verde);
      color: var(--preto);
      transform: scale(1.05);
      transition: .3s;
}